<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div th:fragment="headerBlog">-->
<!--    <p id="name_blog" style="font-size: 40px; font-weight: bold;-->
<!--      text-align: center;-->
<!--      margin: auto auto 5px;">Blog Cua ME</p>-->
<!--    <div class="action" style="display: flex;-->
<!--      justify-content: space-between;">-->
<!--        <p>List Blog</p>-->
<!--        <button>NEW BLOG</button>-->
<!--    </div>-->
<!--</div>-->
<div th:fragment="headerBlog">

    <p id="name_blog" style="font-size: 40px; font-weight: bold;
    text-align: center;  margin: auto auto 5px;">Blog Cua ME</p>
</div>

</body>
</html>