<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Image Of Day</title>
    <style>
        img {
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>IMG</th>
        <th>Action</th>
    </tr>
    <tr th:each="i : ${listImg}">
        <td th:text="${i.id}"></td>
        <td><img th:src="${i.urlImg}"></td>
        <td>
            <a th:href="@{/comment/(imgId = ${i.id})}">Comment</a>
            <a  th:href="@{/detail/(detailId = ${i.id})}">Detail</a>
        </td>
    </tr>
</table>
</body>
</html>